body{
    width:100vw;
    height:100%;
    padding:0;
    margin:0;
    background-color: #5a5e6e;
    color:#ffffff;
}

body{
    display:flex;
    align-items: center;
    justify-content:center;
}

.cartao{
    width: 350px;
    border: 0.52px #ffffff solid;
    padding: 20px;
    box-sizing:border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}

#inform div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 13px;
    font-family: Arial;
    color: rgb(255, 255, 255);
    gap: 50px;
    justify-content: left;
    
}
section{
    display: flex;
    gap:20px;
}
p{
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

#modulo-estoque{
    font-size: 100px;
    color: rgb(0, 0, 0);
    font: arial;
}