html,body{
    width:100vw;
    height:100%;
    padding:0;
    margin:0;
    background-color: #494949;
    color:#000000;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
}

section{
    width: 500px;
    background-color: rgba (10,10,10,0,5);
    border: 2px #ffffff solid;
    padding: 20px;
    box-sizing:border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}
p{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#user-login{
    font-size: 50px;
    color: rgb(0, 0, 0);
    font:arial;
}


button{
    padding: 5px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    border: 0;
    font-size: 24px;
    transition-duration: 0.2s;
    width: 200px;
}

button:hover{
    background-color: rgb(255, 255, 255);
    cursor:pointer;
}

button:active{
    transform: scale(0.9);
}